<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main>
      
      <section class="form-group">
        <form id="form-product" action="/nuevoitem" method="POST">
          <label>Nombre</label>
          <input id="form-title" class="form-control" type="text" name="title" />
          <label>Precio</label>
          <input id="form-price" class="form-control" type="text" name="price" />
          <label>Imagen</label>
          <input id="form-thumbnail" class="form-control" type="text" name="thumbnail" />
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </section>
      <div id="products"></div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>

  </html>
